@font-face {
  font-family: pre;
  src: url(/font/PretendardVariable.ttf);
}
/* 드래그 했을때 색상 지정 */
::selection {
  background: #111; /* 선택 배경색 */
  color: #f5f5f5;       /* 선택된 텍스트 색상 */
}
body{
  font-family: pre;
  padding: 0;
  margin: 0;
}
/* a태그 스타일 상쇠 */
a{
  text-decoration: none;
  color: inherit;
}
/*----------------------------------------*/
/* 상단 GNB */
.logo{
  height: 28px;
  width: 87px;
}
.gnb {
  width: 100%;
  height: 84px;
  border-bottom: 1px solid #111;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gnb-container {
  display: flex;
  width: 1560px;
  justify-content: space-between;
  align-items: center;
  padding: 0 180px;
  gap: min(64px, 80vw);
}
nav {
  display: flex;
  gap: 64px;
}
nav a {
  color: #111;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
/*----------------------------------------*/
/* 히어로 섹션 */
.hero-section{
  width: 100%;
}
h1 {
  margin: 0;
  color: #111;
  font-family: Pre;
  font-size: 90px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 135px */
  letter-spacing: -2.25px;
  padding-left: 180px;
  padding-top: 80px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 2줄까지 표시 */
  -webkit-box-orient: vertical;
}
/*----------------------------------------*/
/* 하단 프로젝트 그룹 */
#projects{
  padding-top: 120px;
}
/* 프로젝트 헤더 */
.pro-container{
  display: flex;
  justify-content: center;
  width: 100%;
}
.projects-header {
  display: flex;
  align-items: end;
  width: 1540px;
  justify-content: space-between;
  padding: 0 190px;
  gap: min(64px, 80vw);
}
.content1 {
color: #000;
font-family: Pre;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 42px; /* 131.25% */
}
.content2{
color: var(--Font-02_black, #111);
font-family: Pre;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: -0.4px;
overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 1줄까지 표시 */
  -webkit-box-orient: vertical;
}
/*----------------------------------------*/
/* 프로젝트 리스트 */
.project-item{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  border-top: 1px solid black;
  align-items: center;
  padding: 0 8px;
  gap: min(64px, 80vw);
}
.project-item:last-child {
  border-bottom: 1px solid #000;
}
.info{
  display: flex;
  gap: 24px;
  align-items: center;
}
.index{
  width: 38px;
}
.title{
color: #000;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 34px; /* 170% */
letter-spacing: -0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 1줄까지 표시 */
  -webkit-box-orient: vertical;
}
.projects-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  width: 100%;
}
.project-list{
  width: 1540px;
  list-style: none;
  padding: 0 190px;
  margin: 0;
}
/*----------------------------------------*/
/* 메인 컨텐츠 전체 박스 */
.main-content{
  padding-bottom: 80px;
  max-width: 1920px;
  margin: 0 auto; /* 가운데 정렬 */
}









/* --------------------- 호버 ---------------------*/

/* 프로젝트 타이틀 호버 */
.title:hover {
  background-color: #1c1c1c; 
  color: #f5f5f5; 
  padding: 0 6px;
}

/*----------------------------------------*/
/* gnb <a> 호버 */
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: black;
  opacity: 0;               /* 초기엔 투명하게 */
  transition: opacity 0.3s ease;
}
nav a:hover::after {
  opacity: 1;               /* 호버 시 서서히 나타남 */
}
nav a {
  position: relative; /* 반드시 있어야 함 */
  text-decoration: none;
}
/*----------------------------------------*/














/* 인터랙션 */

/* .typed-cursor {
  font-weight: 100;   
  font-size: inherit;
  color: #000;        
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
} */

/*----------------------------------------*/
/* 미디어쿼리 */
@media screen and (max-width: 1440px) {
  h1{font-size: 64px;}
}